.red-icon
{
    color: rgb(227, 21, 21) !important;
    font-size: 20px;
}.image-wrapper {
    position: relative;
    display: inline-block;
}

.user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.camera-icon {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

/* Make the image and icon scale based on screen size */
@media (max-width: 768px) {
    .user-img {
        width: 80px;
        height: 80px;
    }

    .camera-icon {
        bottom: 3%;
        right: 3%;
        padding: 4px;
    }
}

@media (max-width: 480px) {
    .user-img {
        width: 60px;
        height: 60px;
    }

    .camera-icon {
        bottom: 2%;
        right: 2%;
        padding: 3px;
    }
}
