.carousel-rounded {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
}

.text-overlay {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background: rgba(40, 37, 37, 0.5);
  padding: 0rem 1rem;
  border-radius: 5px;
  max-width: 80%;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 500px;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .carousel-rounded {
    border-bottom-left-radius: 30% 30px;
    border-bottom-right-radius: 30% 30px;
  }

  .event-card {
    width: 90%;
    right: 50%;
    top: auto;
    bottom: 1rem;
    transform: translateX(50%);
  }

  .text-overlay {
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
  }
}

.rounded-bottom {
  clip-path: ellipse(90% 100% at center top);
}


.smooth-card {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  top: none !important;
  z-index: 1000;
}

.event-title {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.event-image {
  width: 100%;
  height: 0;
  /* Initially Hidden */
  overflow: hidden;
  transition: height 0.3s ease;
}



@media (max-width: 768px) {
  .smooth-card {
    width: 280px !important;
    right: 10px !important;
  }
}

/* Keep existing banner styles */
.banner-rounded {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
  margin-bottom: 2%;
}


/* ---------------------------------------------------------------------------------------------- */

/* Badge Hover */
.badge-item:hover {
  /* background: #dc3545; */
  /* color: white; */
  transform: scale(1.1);
}

/* Button Hover Effects */
.fav-btn:hover,
.more-info:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* Ticket Button Hover */
.ticket-btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* .star {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.star:hover {
  transform: scale(1.1);
  color: gold;
} */


/* ------------------------------------------------------------------- */

.responsive-title {
  font-size: 2.1vw;
  /* Larger size for h1 */
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.responsive-subtitle {
  font-size: 1.1vw;
  /* Adjusted size for subtitle */
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

@media (max-width: 992px) {

  .responsive-text,
  .responsive-title,
  .responsive-subtitle {
    display: none;
    /* Hide on medium and smaller screens */
  }
}
