<!-- Slider -->
<div id="heroCarousel" class="carousel slide carousel-rounded" data-bs-ride="carousel" data-bs-interval="1500">
  <div class="carousel-indicators">
    <button *ngFor="let item of carouselItems; let i = index" type="button" [attr.data-bs-target]="'#heroCarousel'"
      [attr.data-bs-slide-to]="i" [class.active]="i === 0">
    </button>
  </div>

  <div class="carousel-inner">
    <div *ngFor="let item of carouselItems; let first = first" class="carousel-item position-relative"
      [class.active]="first">
      <img [src]="item.imageLarge" class="d-block w-100" alt="{{ item.title }}"
        style="max-height: 600px; object-fit: cover;">

      <!-- <div class="text-overlay mb-5 ms-5">
        <h1 class="fw-bold text-uppercase text-white fs-1">{{item.qoute}}</h1>
        <p class="fw-bold text-white fs-5">{{item.subQoute}}</p>
      </div> -->
      <!--
      <div class="text-overlay mb-5 ms-5 d-none d-lg-block">
        <h1 class="fw-bold text-uppercase text-white fs-3 fs-lg-1 fs-xl-1">{{item.qoute}}</h1>
        <p class="fw-bold text-white fs-6 fs-lg-5 fs-xl-3">{{item.subQoute}}</p>
      </div> -->

      <div class="text-overlay mb-5 ms-5">
        <h1 class="fw-bold text-uppercase text-white responsive-title">{{ item.qoute }}</h1>
        <p class="fw-bold text-white responsive-subtitle">{{ item.subQoute }}</p>
      </div>


      <!-- Event Card -->
      <div class="position-absolute top-50 end-0 translate-middle-y bg-white shadow rounded me-5" style="width: 375px;">

        <div
          class="bg-dark text-white p-5 rounded-top rounded-bottom text-center d-flex align-items-center justify-content-center"
          style="height: 120px;">
          <h3 class="m-0">{{ item.title }}</h3>
        </div>

        <div class="d-flex gap-2 align-items-center mt-3 ms-3">

          <span class="badge-item bg-light text-danger fs-6 p-2 d-inline-flex align-items-center rounded-3">
            {{ categoryIcons[item.category] }} {{ item.category }}
          </span>

          <span class="badge-item bg-light text-danger fs-6 p-2 d-inline-flex align-items-center rounded-3">
            ⭐ {{ item.rating }}
          </span>

          <span class="badge-item bg-light text-danger fs-6 p-2 d-inline-flex align-items-center rounded-3">
            🔥 {{ item.word }}
          </span>

        </div>


        <div class="mx-2 px-3 py-1 mt-1">

          <h6 class="border-bottom py-2 d-flex align-items-center">
            <i class="bi bi-calendar3 fs-5 me-2"></i>
            <strong>{{ item.date }}</strong>
          </h6>

          <h6 class="border-bottom py-2 d-flex align-items-center">
            <i class="bi bi-geo-alt-fill fs-5 me-2"></i>
            <span>{{ item.location }}</span>
          </h6>

          <!-- <h6 class="border-bottom py-2 d-flex align-items-center">
            <i class="bi bi-cash-stack fs-5 me-2"></i>
            <span>Prices from <strong>${{ item.price }}</strong></span>
          </h6> -->


          <!-- Star Ratings -->
          <div class="text-center text-danger mb-2 fs-5">
            <ng-container *ngFor="let star of [].constructor(5); let i = index">
              <i class="star bi" [ngClass]="{
                                                                  'bi-star-fill': i < Math.floor(item.rating),
                                                                  'bi-star-half': i === Math.floor(item.rating) && item.rating % 1 !== 0,
                                                                  'bi-star': i >= Math.ceil(item.rating)
                                                                }"></i>
            </ng-container>
          </div>

          <p class="fst-italic text-muted">{{ (item.description | slice:0:110) + '...' }}</p>


          <div class="d-flex gap-2 justify-content-center mb-2">

            <button
              class="btn btn-light badge fav-btn d-flex align-items-center w-50 justify-content-center fs-6 shadow-sm"
              style="padding-bottom: 12px; padding-top: 12px;" (click)="toggleFavorite(item)">
              <span class="text-danger">Add to Wishlist </span>
              <i class="bi ms-2" [ngClass]="item.isFavorite ? 'bi-heart-fill text-danger' : 'bi-heart text-danger'"></i>
            </button>

            <a [routerLink]="['/shows', item.id]"
              class="more-info btn btn-light badge text-danger d-flex align-items-center w-50 justify-content-center fs-6 shadow-sm">
              More Info <i class="bi bi-info-circle ms-2"></i>
            </a>
          </div>

          <a [routerLink]="['/bookingEvent', item.id]" class="ticket-btn btn btn-danger w-100 mt-1 py-1 fs-5 mb-2"><i
              class="bi bi-ticket-perforated"></i> GET
            TICKET</a>
        </div>
      </div>

    </div>
  </div>
</div>
