.footer-container {
  background: #2a2a2a;
  color: #ffffff;
  padding: 1rem 1rem auto;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: -2.5rem;
  padding: 0 1rem;
}

.footer-section:first-child {
  width: 25%;
  margin-right: auto;
  padding-left: 0;
}

.footer-section {
  padding: 1rem;
  width: 23%;
  text-align: left;
}

.footer-logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.footer-logo a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #dc3545;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer-logo a:hover::after {
  transform: scaleX(1);
}

.footer-description {
  margin: 1rem auto;
  line-height: 1.6;
  color: #cccccc;
}

.footer-section h4 {
  color: #dc3545;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.footer-section nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section nav ul li {
  margin-bottom: 0.5rem;
}

.footer-section nav ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-section nav ul li a:hover {
  color: #c82333;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.social-links a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #c82333;
}

.contact-info p {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #cccccc;
}

.copyright {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #444444;
  margin-top: 2rem;
  color: #cccccc;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .footer-section:first-child {
    flex: 1 1 100%;
    margin-bottom: 1.5rem;
    padding-right: 0;

  }

  .footer-section {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .footer-section {
    flex: 1 1 100%;
    margin-bottom: 1rem;
  }

  .footer-section nav ul li a {
    justify-content: center;
  }

  .footer-logo a {
    font-size: 1.5rem;

  }

  .footer-logo {
    margin-top: 15px;

  }

  .footer-description {
    margin: 1rem auto;
    max-width: 100%;
  }

  .social-links {
    justify-content: center;
  }

  .contact-info p {
    justify-content: center;
  }
}



@media (max-width: 480px) {
  .footer-section nav ul li a {
    justify-content: center;
  }

  .footer-logo a {
    font-size: 1.5rem;
  }
}
