<header class="header-container">
  <!-- Left Section: Logo and Hamburger -->
  <div class="header-left">
    <div class="logo ms-4 mb-1">
      <a routerLink="/">
        <img src="/Images/logo1.png" width="150" class="pb-2">
      </a>
    </div>
    <button class="hamburger" [class.active]="menuActive" (click)="toggleMenu($event)">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  @if (!currentUser || currentUser.role !== 'admin') {
  <!-- Middle Section: Navigation Links -->
  <div class="header-middle" [class.active]="menuActive">
    <nav>
      <ul>
        <li class="me-4 me-3">
          <a routerLink="/shows" routerLinkActive="active"><i class="bi bi-music-note me-1"></i> Shows & Events</a>
        </li>
        <li class="me-4">
          <a routerLink="/sports" routerLinkActive="active"><i class="fa fa-soccer-ball-o me-1"></i> Football
            Matches</a>
        </li>
        <li class="me-4">
          <a routerLink="/about" routerLinkActive="active"><i class="fa fa-info-circle me-1"></i> About Us</a>
        </li>
        <li class="me-4">
          <a routerLink="/contact" routerLinkActive="active"><i class="fa fa-phone me-1"></i> Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  } @else {
  <!-- Middle Section: Navigation Links -->
 <div class="header-middle " [class.active]="menuActive">
    <nav>
      <ul>
        <li class="me-4 ms-3">
          <a routerLink="/admin/dashboard" routerLinkActive="active"><i class="bi bi-graph-down me-1 "></i> Dashboard</a>
        </li>
        <li class="me-4">
          <a routerLink="/admin/addShow" routerLinkActive="active"><i class="bi bi-calendar-plus me-1"></i> Add
            Show</a>
        </li>
        <li class="me-4">
          <a routerLink="/admin/getallshows" routerLinkActive="active"><i class="bi bi-collection-play me-1"></i> Get All
            Shows</a>
        </li>
        <li class="me-4">
          <a routerLink="/admin/addMatch" routerLinkActive="active"><i class="fa fa-soccer-ball-o me-1"></i> Add Match</a>
        </li>
        <li class="me-4">
          <a routerLink="/admin/getallmatches" routerLinkActive="active"><i class="bi bi-trophy  me-1"></i> Get All
            Matches</a>
        </li>
      </ul>
    </nav>
  </div>
  }

  <!-- Right Section: Search and User Menu -->
  <div class="header-right">

    <div class="user-menu-container" (click)="toggleUserMenu($event)">
      @if (currentUser) {
      <span class="user-greeting me-2">Hello, {{ currentUser.firstName }}</span>
      }
      <div class="user-avatar">
        @if (currentUser) {
        <img [src]="currentUser?.avatar" alt="User" class="user-avatar" />
        } @else {
        <img src="img/userIcon.png" width="40px" />
        }
      </div>
      <div class="user-dropdown" [class.active]="userMenuActive">
        @if (currentUser)
        {
        @if (currentUser.role !== 'admin')
        {
        <!-- Logged In State -->
        <div class="user-info">
          <div>
            <p class="user-name">{{ currentUser.firstName }}</p>
            <p class="user-email">{{ currentUser.email }}</p>
          </div>
        </div>
        <a routerLink="/profile/user" class="dropdown-item" >
          <i class="fa fa-user-circle me-1"></i> Profile
        </a>
        <a routerLink="/profile/favourites" class="dropdown-item">
          <i class="fa fa-heart me-1"></i> Favorites
        </a>
        <a routerLink="/profile/bookingHistory" class="dropdown-item">
          <i class="fa fa-history me-1"></i> Booking History
        </a>
        <a routerLink="/profile/reviews" class="dropdown-item">
          <i class="fa fa-star me-1"></i> Reviews
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout($event)">
          <i class="fa fa-sign-out me-1"></i> Logout
        </a>
        }
        @else
        {
        <!-- Logged In State -->
        <div class="user-info">
          <div>
            <p class="user-name">{{ currentUser.firstName }}</p>
            <p class="user-email">{{ currentUser.email }}</p>
          </div>
        </div>
        <a routerLink="/admin/addShow" class="dropdown-item">
          <i class="fa fa-user-circle me-1"></i> Add Shows
        </a>
        <a routerLink="/admin/getallshows" class="dropdown-item">
          <i class="fa fa-history me-1"></i> Get All Shows
        </a>
        <a routerLink="/admin/addMatch" class="dropdown-item">
          <i class="fa fa-heart me-1"></i> Add Matches
        </a>
        <a routerLink="/admin/getallmatches" class="dropdown-item">
          <i class="fa fa-star me-1"></i> Get All Matches
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout($event)">
          <i class="fa fa-sign-out me-1"></i> Logout
        </a>
        }
        }
        @else
        {
        <!-- Logged Out State -->
        <a routerLink="/login" class="dropdown-item">
          <i class="fa fa-sign-in me-1"></i> Login
        </a>
        <a routerLink="/register" class="dropdown-item">
          <i class="fa fa-user-plus me-1"></i> Register
        </a>
        }
      </div>
    </div>
  </div>
</header>
