.show-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: #fff;
}

@media (max-width: 768px) {
  .imgH {
    max-width: 100%;
    max-height: 250px;
    border-radius: 20px;
  }
}

.content-text {
  flex: 3;
}

.event-info-actions {
  flex: 2;
}

/* ------------------------------------------------------------------------------------------ */
.btn-check:checked+label {
  background-color: #dc3545 !important;
  color: white !important;
  border: none !important;
  box-shadow: 0 2px 4px rgba(220, 53, 69, 0.5) !important;
  transition: box-shadow 0.2s ease-in-out;
}

/* ------------------------------------------------------------------------------------------ */
.page-link {
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------------ */
.event-image {
  max-width: 310px;
  max-height: 200px;
}


/* Media query for screens 992px and below (Bootstrap's 'md' breakpoint) */
@media (max-width: 1200px) {
  .eventList {
    flex-direction: column;
    align-items: center;
  }

  .content-text,
  .event-info-actions {
    width: 90%;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .event-image {
    border-radius: 5%;
    width: 85%;
    max-width: none;
    margin-bottom: 10px;
  }

}
