<!-- Main Content (Event Cards) -->

<div class="row" id="eventContainer">

  @for (event of eventList; track event) {
  <div class="col-md-4 event-card">
    <div class="card shadow-sm position-relative">
      <img [src]="event.image" class="card-img-top rounded-top" [alt]="event.title">

      <!-- Rating Badge -->
      <span class="position-absolute bg-white text-dark px-3 py-1 rounded fw-bold m-2">{{ event.rating }}
        ★</span>

      <div class="card-body text-center">
        <h5 class="fw-bold">{{ event.title }}</h5>
        <div class="mb-1">{{ event.venue }}</div>

        <!-- Star Ratings -->
        <div class="text-danger mb-3 mt-1">
          <ng-container *ngFor="let star of [].constructor(5); let i = index">
            <i class="bi" [ngClass]="{
                                  'bi-star-fill': i < Math.floor(event.rating),
                                  'bi-star-half': i === Math.floor(event.rating) && event.rating % 1 !== 0,
                                  'bi-star': i >= Math.ceil(event.rating)
                                }"></i>
          </ng-container>
        </div>

        <div class="btn btn-light w-100 fw-bold">
          <i class="bi bi-calendar"></i> {{ event.date }}
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-2 mt-2">

          <button class="btn btn-light fav-btn px-4 py-2 d-flex align-items-center" (click)="toggleFavorite(event)">
            <span class="text-danger"> Wishlist </span>
            <i class="bi ms-2" [ngClass]="event.isFavorite ? 'bi-heart-fill text-danger' : 'bi-heart text-dark'"></i>
          </button>

          <a routerLink="/details/5" class="btn btn-light text-danger px-4 py-2">
            More info
          </a>
        </div>

        <a class="btn btn-danger w-100 mt-2">
          BOOK TICKETS <i class="bi bi-ticket"></i>
        </a>
      </div>
    </div>
  </div>
  }
</div>



<!-- Pagination Controls -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item disabled" id="prevPage">
      <a class="page-link text-danger" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link bg-danger border-danger text-white" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link text-danger" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link text-danger" href="#">3</a>
    </li>
    <li class="page-item" id="nextPage">
      <a class="page-link text-danger" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div class="text-center mt-4">
  <a routerLink="/shows" class="btn btn-light text-danger shadow-sm px-3 py-1 border border-light-2">
    View all shows
  </a>
</div>
