.card {
  transition: transform 0.3s ease;
  border-style: solid;
}
.card:hover {
  transform: translateY(-5px);
  
  /* border-color: rgba(165, 126, 28, 0.6) !important; */
}
.Entertainment{
  border-color:rgba(190, 147, 38, 0.6) !important;

}
.Sports{
  border-color:rgba(185, 54, 54, 0.6) !important;

}
/* Hover effects */
.Sports, .Entertainment {
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.Sports:hover {
  background: rgba(125, 49, 44,0.95) !important;
  box-shadow: 0 0 20px rgba(185, 54, 54, 0.7),
             inset 0 0 12px rgba(146, 49, 49, 0.6),
             0 8px 12px rgba(0, 0, 0, 0.4) !important;
  transform: translateY(-5px);
}

.Entertainment:hover {
  background: rgba(148,96,33, 0.95) !important;
  box-shadow: 0 0 20px rgba(204, 154, 0, 0.7),
             inset 0 0 12px rgba(204, 154, 0, 0.6),
             0 8px 12px rgba(0, 0, 0, 0.4) !important;
  transform: translateY(-5px);
}