<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Booking</title>

</head>

<body>
  <div class="home-content">
    <div class="text-center">
      <h1>What is your next plan?</h1>
      <p>Explore and book all exclusive events and matches.</p>
    </div>
    <div class="card-container">
      <a routerLink="/sports" class="card" id="Sport">
        <img src="Images/Home/Sport.png" alt="Sports">
        <h3>Sports</h3>
        <p>Match Tickets</p>
      </a>

      <a routerLink="/entertainment" class="card" id="Entertainement">
        <img src="Images/Home/Entertainement.png" alt="Entertainment">
        <h3>Entertainment</h3>
        <p>Event Tickets</p>
      </a>

    </div>
  </div>
</body>

</html>