<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <div class="container">
    <p class="text-center">Add Review for {{ data.eventName }}</p>
    
    <div class="stars">
        <input type="radio" id="star5" name="rating" value="5"><label for="star5">&#9733;</label>
        <input type="radio" id="star4" name="rating" value="4"><label for="star4">&#9733;</label>
        <input type="radio" id="star3" name="rating" value="3"><label for="star3">&#9733;</label>
        <input type="radio" id="star2" name="rating" value="2"><label for="star2">&#9733;</label>
        <input type="radio" id="star1" name="rating" value="1"><label for="star1">&#9733;</label>
    </div>
    
    <textarea placeholder="Write your review" rows="4" class="form-control"></textarea>
    <div class="text-right mt-3">
        <button class="btn btn-secondary" (click)="closeDialog()" style="margin-right: 15px;">Cancel</button>
        <button class="btn btn-primary" >Submit</button>
    </div>
</div>
</body>
</html>
