.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.btn {
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

/* ---------------------------------------------------------------------------------- */
.card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}

/* ---------------------------------------------------------------------------------- */
.nav-link {
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  border-bottom: 2px solid #dc3545;
}

.nav-link.active {
  border-bottom: 2px solid transparent !important;
}

.border-bottom {
  border-color: #ddd !important;
}
