<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <app-to-be-deleted></app-to-be-deleted> -->

<!-- <app-football-booking></app-football-booking> -->

<!-- <app-football-booking-details></app-football-booking-details> -->

<!-- <app-booking-history></app-booking-history> -->

<!-- <app-event-booking></app-event-booking> -->

<!-- <app-booking></app-booking> -->

<!-- <app-event-booking-details></app-event-booking-details> -->

<!-- <app-booking-details></app-booking-details> -->
