.active-category {
  background-color: #ffe6e6;
  border-left: 5px solid #b30000;
}

.custom-icon {
  height: 35px;
  width: 35px;
}


@media (min-width: 768px) {
  .custom-img {
    max-width: 275px;
  }

  .custom-bg-md {
    background-color: white !important;
  }
}

/* Scale effect on hover */
.scale-hover {
  transition: transform 0.3s ease-in-out;
}

.scale-hover:hover {
  transform: scale(1.05);
}

.read:hover {
  color: white;
}
