<!-- ---------------------------------------------------------------------------------------------------- -->
<!-- Slider -->
<app-eslider></app-eslider>

<!-- ---------------------------------------------------------------------------------------------------- -->
<!-- Events -->
<div class="ms-4 px-5 mt-3">
  <div class="row">

    <div class="row">
      <div class="mt-4">
        <div class="row">

          <div class="col-12 order-1 col-md-3 order-md-2 mt-3 mt-md-5">
            <button class="btn btn-danger w-100 d-md-none mb-3 fs-5" type="button" data-bs-toggle="collapse"
              data-bs-target="#sidebarMenu">
              <i class="bi bi-list"></i> Categories
            </button>

            <aside id="sidebarMenu" class="bg-light p-3 rounded shadow-sm collapse d-md-block">
              <h6 class="fw-bold mb-3 fs-5 d-none d-md-block">CATEGORIES</h6>
              <ul class="list-unstyled">

                <li *ngFor="let category of categories">
                  <a [routerLink]="category.link ? category.link : '/shows'" routerLinkActive="active-category"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="text-danger text-decoration-none d-block py-2 border-bottom px-3" style="font-size: 17px;">
                    {{ category.name }}
                  </a>
                </li>
              </ul>
            </aside>
          </div>

          <section class="col-12 order-2 col-md-9 order-md-1">
            <h2 class="fw-bold">
              <i class="bi bi-bell-fill text-danger"></i> DON'T MISS
            </h2>
            <hr>
            <router-outlet></router-outlet>
          </section>

        </div>
      </div>
    </div>

    <!-- ---------------------------------------------------------------------------------------------------- -->

    <div class="mb-5"></div>

    <div class="container">
      <h2 class="fw-bold">
        <i class="bi bi-megaphone-fill text-danger"></i> LATEST NEWS
      </h2>
      <hr>
      <div class="row align-items-stretch">
        <!-- Left Column: Events -->
        <div class="col-12 col-lg-9 d-flex flex-column">

          <div class="flex-grow-1 d-flex flex-column">
            @for (event of events; track event) {
            <div
              class="d-flex flex-column flex-md-row mb-4 align-items-md-start bg-light p-2 p-md-0 rounded custom-bg-md">
              <img [src]="event.imageSmall" class="img-fluid rounded w-100 w-md-auto" alt="Event Image"
                style="height: auto;" class="custom-img">

              <div class="ms-0 ms-md-3 mt-2 w-100">
                <h4>{{ event.title }}</h4>
                <div class="text-muted mb-1">{{ event.date }}</div>
                <p> {{ event.description.length > 200 ? (event.description | slice:0:200) + '...' : event.description }}</p>
               

                <div class="d-flex align-items-center gap-2">
                  <button
                    class="btn btn-light badge p-2 fs-6 shadow-sm fav-btn d-flex align-items-center border scale-hover"
                    (click)="toggleFavorite(event)">
                    <span class="text-danger">Wishlist</span>
                    <i class="bi ms-2"
                      [ngClass]="event.isFavorite ? 'bi-heart-fill text-danger' : 'bi-heart text-dark'"></i>
                  </button>

                  <a [routerLink]="['/shows', event.id]"
                    class="btn badge bg-danger p-2 fs-6 shadow-sm scale-hover read">Read
                    more</a>
                </div>
              </div>
            </div>
            }
          </div>
        </div>

        <!-- Right Column: Image Carousel -->
        <div class="col-lg-3 d-none d-lg-flex flex-column mb-4">
          <div id="imgCarousel" class="carousel slide flex-grow-1 d-flex flex-column" data-bs-ride="carousel"
            data-bs-interval="1200">
            <div class="carousel-inner flex-grow-1">
              @for (image of images; track image) {
              <div class="carousel-item h-100" [class.active]="image === images[0]">
                <img [src]="image" class="d-block w-100 h-100 rounded" [alt]="image" style="object-fit: cover;">
              </div>
              }
            </div>

            <!-- Navigation Arrows -->
            <button class="carousel-control-prev custom-carousel-btn" type="button" data-bs-target="#imgCarousel"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon custom-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next custom-carousel-btn" type="button" data-bs-target="#imgCarousel"
              data-bs-slide="next">
              <span class="carousel-control-next-icon custom-icon" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="mb-5"></div>

  <!-- ---------------------------------------------------------------------------------------------------- -->
