
.home-content {
    background: url('/images/Home/Party2.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:667px;
}

 .form-Content
 {
    height:500px;
    width: 390px;
    border-radius: 20px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 40px  40px;
    background-color: rgba(255, 255, 255, 0.814);
 }
 
 
 button
 {
    color: white; 
    font-weight: bold;
    border-radius:6px; 
    transition: all 0.3s ease-in-out;
    border: none;
    width:370px;

 }
 .red-icon {
    color: red !important;
    
  }

  input{
    padding: 12px;
  }