<div class="container mt-4 p-5">
  <div class="mb-3">
    <h2 class="fw-bold"><span style="font-size: 0.9em;">📅</span> Add Show </h2>
    <nav aria-label="breadcrumb mb-0">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item mb-0">
          <p class="text-muted mb-0">Event</p>
        </li>
        <li class="breadcrumb-item active fw-semibold text-danger" aria-current="page">Add Show</li>
      </ol>
    </nav>
  </div>

  <div class="py-3">
    <form [formGroup]="MyForm" (ngSubmit)="submitForm()">

      <!-- Event Name -->
      <div class="mt-3">
        <label class="form-label fw-semibold mb-1">Event Name</label>
        <div class="input-group">
          <span class="input-group-text bg-light border-0">
            <i class="bi bi-calendar-event icons"></i>
          </span>
          <input type="text" class="form-control border-0 shadow-sm" placeholder="Event Name"
            formControlName="EventName">
        </div>
        <div *ngIf="MyForm.get('EventName')?.hasError('required') && MyForm.get('EventName')?.touched"
          class="text-danger small ps-2 mb-0">
          Event Name is required.
        </div>
        <div *ngIf="MyForm.get('EventName')?.hasError('maxlength') && MyForm.get('EventName')?.touched"
          class="text-danger small ps-2 mt-1">
          Event Name max length is 50 characters.
        </div>
      </div>

      <!-- Event Image Upload -->
      <div class="mt-3">
        <label class="form-label fw-semibold mb-1">Event Image</label>
        <div class="input-group">
          <input type="file" class="form-control border-0 shadow-sm w-100" accept="image/*"
            formControlName="EventImage">
        </div>
        <div *ngIf="MyForm.get('EventImage')?.hasError('required') && MyForm.get('EventImage')?.touched"
          class="text-danger small ps-2 mt-1">
          Event image is required.
        </div>
      </div>

      <!-- Event Location -->
      <div class="mt-3">
        <label class="form-label fw-semibold mb-1">Event Location</label>
        <div class="input-group">
          <span class="input-group-text bg-light border-0">
            <i class="bi bi-geo-alt-fill icons"></i>
          </span>
          <input type="text" class="form-control border-0 shadow-sm" placeholder="Event Location"
            formControlName="EventLocation" (blur)="onLocationBlur()">
        </div>
        <div *ngIf="MyForm.get('EventLocation')?.hasError('required') && MyForm.get('EventLocation')?.touched"
          class="text-danger small ps-2 mt-1">
          Event Location is required.
        </div>
        <div *ngIf="MyForm.get('EventLocation')?.hasError('maxlength') && MyForm.get('EventLocation')?.touched"
          class="text-danger small ps-2 mt-1">
          Event Location max length is 200 characters.
        </div>
      </div>

      <!-- Map Container -->
      <div class="form-group full-width mt-2">
        <label class="text-danger">Select Location</label>
        <div class="map-container" [class.hidden]="!showMap">
          <app-leaflet-map *ngIf="showMap" [locationName]="selectedEventLocation"
            [styleTxt]="{ height: '300px', width: '100%' }">
          </app-leaflet-map>
        </div>
      </div>

      <!-- Event Description -->
      <div class="mt-3">
        <label class="form-label fw-semibold mb-1">Event Overview</label>
        <div class="input-group">
          <textarea class="form-control" placeholder="Write Event Overview" rows="4"
            formControlName="EventDescription"></textarea>
        </div>
        <p *ngIf="MyForm.get('EventDescription')?.hasError('required') && MyForm.get('EventDescription')?.touched"
          class="text-danger small ps-2 mt-1">
          Event Description is required.
        </p>
        <p *ngIf="MyForm.get('EventDescription')?.hasError('maxlength') && MyForm.get('EventDescription')?.touched"
          class="text-danger small ps-2 mt-1">
          Event Overview max length is 500 characters.
        </p>
      </div>

      <!-- Submit Button -->
      <div class="text-center mt-4 mb-1">
        <button type="submit" class="btn btn-danger button w-100 py-3">Add Show</button>
      </div>

    </form>
  </div>
</div>
